// main: lightgrid.less

/* ----------------------------------------------------------------
 * layout.less
 * 
 * Layout of the theme is defined here
 * 
 * Menu :
 *  header
 *   nav
 *  main
 *  footer
 * 
 * ------------------------------------------ ---------------------- */

@import 'fonts.less';
@import 'config.less';


/* ----------------------------------------------------------------
 * $body
 * ---------------------------------------------------------------- */
body, #wrapper {
	height : 100%;
	font-size: 1em;
}


/* ----------------------------------------------------------------
 * $top menu
 * ---------------------------------------------------------------- */
.top_menu {
	background-color: @background1;
}

.top_menu > .menu {
	width: @site-width;
	margin: 0 auto;
	padding: 0;
}

.top_menu > .menu:after {
	content: '';
	display: block;
	clear: both;
}

.top_menu > .menu > li {
	display: inline-block;
	float: left;
	margin-right: 16px;
}

.top_menu > .menu > li > a {
	display: inline-block;
	padding: 4px 16px;
	
	color:#555;
}

.top_menu > .menu > li > a:hover,
.top_menu > .menu > li > a:active {
	background-color: rgba(0,0,0,0.03);
}

.top_menu > .menu > li:last-child {
	float: right;
	margin: 0;
}


/* ----------------------------------------------------------------
 * $header
 * ---------------------------------------------------------------- */
#header {
	width: @site-width;
	margin: 0 auto;
	
	text-align: center;
}

#branding {
	margin: 32px 0;
}

#blog-title img {
	width: 320px;
}

#blog-description {
	font-size: 1em;
}

// Removes "skip to content"
.skip-link {
	display: none;
}


/* ----------------
 * $nav
 * ---------------- */
#access ul {
	margin: 0;
	margin-bottom: 16px;
	padding: 0;

	text-align: center;
	
	list-style: none;
	
	border-top:@background2 solid 2px;
	border-bottom:@background2 solid 2px;
}

#access ul > li {
	display: inline-block;
	width: 20%;
	
	font-size: 1.2em;
}

#access ul > li > a {
	display: inline-block;
	width: 100%;
	padding: 4px 32px;
	box-sizing: border-box;
}

#access ul > li > a:hover,
#access ul > li > a:active {
	background-color: rgba(0,0,0,0.04);
}


/* ----------------------------------------------------------------
 * $main
 * ---------------------------------------------------------------- */
#main {
	background-color: @background1;
}

#container {
	width:@site-width;
	margin: 0 auto;
}

.page-title {
	position: relative;
	padding: 16px 0 8px 0;
	
	text-align: center;
}

.product {
	padding: 16px!important;
	
	background-color: #FFF;
	
	box-shadow: 0 1px 2px 1px rgba(0,0,0,0.1);
	box-sizing: border-box;
}

.product .price {
	padding: 4px 12px;
	
	text-align: center;
	
	border:#DDD solid 1px;
	border-radius: 2px;
}

.preview-item-title {
	padding: 16px 0!important;
	
	text-align: center;
	font-weight: 500;
}

.button-home {
	width: 100%;
	margin-top: 8px;
}

.term-description {
	margin-bottom: 24px;
	text-align: center;
}

.term-description > p {
	margin: 0;
}


/* ----------------------------------------------------------------
 * $shop
 * ---------------------------------------------------------------- */



/* ----------------------------------------------------------------
 * $sidebars
 * ---------------------------------------------------------------- */


/* ----------------------------------------------------------------
 * $home page categories
 * ---------------------------------------------------------------- */



/* ----------------------------------------------------------------
 * $footer
 * ---------------------------------------------------------------- */
#footer {
	padding: 32px 0;
	
	background-color: rgb(52,73,94);
}

.footer-inner {
	width:@site-width;
	margin: 0 auto;
	
	color:#ddd;
}

.copyright-info {
	padding: 16px 0;
	text-align: center;
	
	color:#DDD;
}