// main: lightgrid.less

/* ----------------------------------------------------------------
 * layout.less
 * 
 * Layout of the theme is defined here
 * 
 * Menu :
 *  header
 *   nav
 *  main
 *  footer
 * 
 * ------------------------------------------ ---------------------- */

@import 'fonts.less';
@import 'config.less';


/* ----------------------------------------------------------------
 * $body
 * ---------------------------------------------------------------- */
body, #wrapper {
	height : 100%;
	font-size: 1em;
}


/* ----------------------------------------------------------------
 * $top menu
 * ---------------------------------------------------------------- */
.top_menu {
	background-color: #F6F4EC;
}

#menu-top-menu {
	width: @site-width;
	margin: 0 auto;
	padding: 4px 0;
}

#menu-top-menu:after {
	content: '';
	display: block;
	clear: both;
}

#menu-top-menu > li {
	display: inline-block;
	float: left;
	margin-right: 16px;
}

#menu-top-menu > li > a {
	color:#555;
}

#menu-top-menu > li:last-child {
	float: right;
	margin: 0;
}


/* ----------------------------------------------------------------
 * $header
 * ---------------------------------------------------------------- */
#header {
	width: @site-width;
	margin: 0 auto;
	
	text-align: center;
}

#branding {
	margin: 48px 0;
}

#blog-title img {
	width: 320px;
}

#blog-description {
	font-size: 1em;
}

// Removes "skip to content"
.skip-link {
	display: none;
}


/* ----------------
 * $nav
 * ---------------- */
#menu-header-menu {
	margin: 0;
	padding: 0;

	text-align: center;
	
	list-style: none;
	
	border-top:#DDD solid 1px;
	border-bottom:#DDD solid 1px;
}

#menu-header-menu > li {
	display: inline-block;
	padding: 4px 32px;
	
	font-size: 1.2em;
}

/* ----------------------------------------------------------------
 * $main
 * ---------------------------------------------------------------- */
#main {
	width:@site-width;
	margin: 0 auto;
}


/* ----------------------------------------------------------------
 * $shop
 * ---------------------------------------------------------------- */



/* ----------------------------------------------------------------
 * $sidebars
 * ---------------------------------------------------------------- */


/* ----------------------------------------------------------------
 * $home page categories
 * ---------------------------------------------------------------- */



/* ----------------------------------------------------------------
 * $footer
 * ---------------------------------------------------------------- */
#footer {
	padding: 32px 0;
	
	background-color: rgb(52,73,94);
}

.footer-inner {
	width:@site-width;
	margin: 0 auto;
	
	color:#ddd;
}

.copyright-info {
	padding: 16px 0;
	text-align: center;
	
	color:#DDD;
}