// main: lightgrid.less

/* ----------------------------------------------------------------
 * media-queries.less
 * 
 * All media queries are defined here
 * Don't forget to put the meta tag <meta name="viewport" content="width=device-width">
 * inside the head tag
 * Extra media queries taken from http://responsivedesign.is/develop/browser-feature-support/media-queries-for-common-device-breakpoints
 * ---------------------------------------------------------------- */

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width : 769px) and (max-width : 1024px) {
	 
	.top_menu > .menu,
	#header,
	#container,
	.footer-inner {
		width: 760px;
	}
	
	.product {
		padding: 8px!important;
	}
}

@media only screen and (min-width : 1px) and (max-width : 768px) {
	
	.col-1, .col-2, .col-3, .col-4, .col-5, .col-6,
	.col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
		margin:0;
		width:100%!important;
	}
	
	.info-container {
		width:100%;
		margin:0;
		float:none;
	}
	
	.image-container {
		width:100%;
		margin:0;
		float:none;
	}
	
	.top_menu > .menu,
	#header,
	#container,
	.footer-inner {
		width: 88%;
	}
	
	#access ul > li > a {
		width:auto;
	}
	
	.product {
		padding: 6px!important;
	}
	
	.woocommerce .woocommerce-breadcrumb {
		text-align: center;
		width:100%;
	}
	
	.shop-cat-desc {
		font-size: 0.7em;
	}
	
	.top_menu > .menu {
		text-align: center;
	}	
	
	.top_menu > .menu > li {
		float: none;
		margin: 0;
	}
	
	.top_menu > .menu > li:last-child {
		float: none;
	}
	
	#access ul > li {
		width: auto;
	}
	
	#access ul > li > a {
		padding: 4px 16px;
		font-size: 0.8em;
	}
	
	.woocommerce ul.products li.product,
	.woocommerce-page ul.products li.product {
		width: 48%;
		margin: 0 4% 2% 0;
	}
	
	.woocommerce ul.products li.product:nth-child(2n),
	.woocommerce-page ul.products li.product:nth-child(2n) {
		margin-right: 0;
	}
	
	.woocommerce ul.products li.product:nth-child(2n + 1),
	.woocommerce-page ul.products li.product:nth-child(2n + 1) {
		clear: both;
	}
	
	.woocommerce .woocommerce-ordering,
	.woocommerce .woocommerce-result-count {
		width: 100%;
	}
	
	.product > .images {
		width: 100%!important;
		height: auto;
	}
	
	.summary.entry-summary {
		width: 100%!important;
	}
	
	#order_review {
		width: 100%;
	}
	
}