/*   
Theme Name: Avaragadi
Theme URI: https://github.com/Superior-Web-Design-Avagardi/avargadi
Description: Avargadi child theme
Author: Superior web design
Author URI: http://reddit.com/
Template: thematic
Version: 1.0
Tags: white, three-columns, two-columns, fixed-width, theme-options, left-sidebar, right-sidebar, threaded-comments, sticky-post, microformats
License: GNU General Public License v2.0
License URI: http://www.gnu.org/licenses/gpl-2.0.html

.
The Thematic Theme is copyright Ian Stewart http://themeshaper.com/
This work, like WordPress, is released under GNU General Public License, version 2 (GPL).
.

*/

/* Enable the line below when you have got prepos up and running */
@import 'lightgrid.css';